/NVIDIA GameWorks Vulkan and OpenGL Samples/samples/bin
/NVIDIA GameWorks Vulkan and OpenGL Samples/samples/build/vs2015All/.vs
/NVIDIA GameWorks Vulkan and OpenGL Samples/samples/build/vs2015All/intermediate
/NVIDIA GameWorks Vulkan and OpenGL Samples/extensions/build/vs2015All/.vs
/NVIDIA GameWorks Vulkan and OpenGL Samples/extensions/build/vs2015All/intermediate
